/*头部 CSS*/
body {
    background: #f6f4f5;
    font-family: 'Microsoft YaHei';
}
.w1000 {
    width: 1000px;
    margin: auto;
}

.head {
    background: #fff;
}

.logoBar {
    border-bottom: 2px solid #e60000;
    background: #fff;
}

.logoBar .logoBarInner {
    width: 1000px;
    margin: auto;
    overflow: hidden;
}

.logoBar .logoBarInner .logo {
    padding: 22px 0px;
    float: left;
}

.logoBar .logoBarInner h1 {
    height: 167px;
    height: 47px;
    overflow: hidden;
    text-align: left;
}

.logoBar .logoBarInner .ad {
    padding: 27px 0px;
    height: 36px;
    line-height: 36px;
    float: right;
}

.logoBar .logoBarInner .ad span {
    float: left;
    color: #1a1a1a;
    font-size: 12px;
    background: url(img/promiseAd.png) no-repeat left;
    padding-left: 49px;
    margin-right: 33px;
}

.logoBar .logoBarInner .ad span.zhengbang {
    background-position: left;
}

.logoBar .logoBarInner .ad span.liujiu {
    background-position: -141px center;
}

.logoBar .logoBarInner .ad span.yizhe {
    background-position: -289px center;
    margin-right: 0px;
}
/*底部css*/
.loginRegistFoot {
    background: #f6f4f5;
    overflow: hidden;
}

.loginRegistFoot .footNav {
    padding-top: 46px;
    margin-bottom: 20px;
}

.loginRegistFoot .footNav ul {
    overflow: hidden;
    width: 480px;
    margin: auto;
}

.loginRegistFoot .footNav ul li {
    background: url(img/loginRegistfootline.jpg) no-repeat right center;
    float: left;
    height: 20px;
    line-height: 20px;
    width: 120px;
    text-align: center;
}

.loginRegistFoot .footNav ul li a {
    color: #333333;
}

.loginRegistFoot .footNav ul li a:hover {
    color: #e60000;
}

.certifica .width820 {
    width: 1000px;
    margin: 20px auto 30px;
}

.credit_certifica {
    overflow: hidden;
    float: left;
    display: inline;
    margin-left: 90px;
}

.licence{
    float: left;
    color: #333;
    display: inline;
    margin-left: 18px;
    line-height: 20px;
    font-size: 12px;
}

.licence p a {
    margin-right: 10px;
}


/*注册*/
.regWrap {
    margin-top: 20px;
}

.regForm {
    background: #fff;
    padding: 60px 25px 210px;
}

.regWrap .regForm .regTitle {
    padding-right: 23px;
    width: 212px;
    overflow: hidden;
    height: 24px;
    line-height: 24px;
    margin-bottom: 60px;
}

.regWrap .regForm .regTitle b {
    float: right;
    color: #333;
    height: 24px;
    font-size: 22px;
    padding-left: 13px;
    border-left: 3px solid #e60000;
    font-weight: bold;
}

.regWrap .regForm .regTitle span {
    float: left;
    padding-top: 5px;
    font-size: 14px;
    color: #e60000;
    margin-left: 11px;
}
.regWrap form{
    margin-left: 150px;
}
.regWrap form label{
    display: inline-block;
    line-height: 30px;
    width: 100px;
    text-align: left;
    float: left;

}
.regWrap form input{
    display: inline-block;
    width: 300px;
    line-height: 40px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    padding-left: 10px;
}
.regWrap #show,.regWrap #show2{
    margin-left: 100px;
}
.regWrap form button{
    display: block;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    width: 380px;
    text-align: center;
    text-decoration: none;
    background: #e60000;
    font-size: 16px;
    color: #fff;
    margin-left: 80px;
    cursor: default;
}
#canvas {
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: pointer;
    margin-bottom: 15px;
    margin-left: 10px;
    border-radius: 5px
}
.show{
    margin-left: 100px;
    margin-bottom: 15px;
}
