em, i, strong, b {
    font-style: normal;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    text-decoration: underline;
    color: #e70b1c;
}
img {
    border: 0;
    vertical-align: middle;
}